<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

    <connectionStrings>
      <!--<add name="ConnectionStringMsSql" connectionString="Server=DESKTOP-PFN07OO\SQLEXPRESS;DataBase=muzeum;Integrated Security=SSPI"/> -->
      <add name="ConnectionStringMsSql" connectionString="Server=DESKTOP-PFN07OO\SQLEXPRESS;DataBase=vis_muzeum;Integrated Security = SSPI"/>
      <!-- <add name="ConnectionStringMsSql" connectionString="server=dbsys.cs.vsb.cz\STUDENT;database=XXX;user=XXX;password=XXX;"/> -->
    </connectionStrings>

</configuration>